h1{
    color: aliceblue;
/* 
        font-family: "Trebuchet MS", Verdana, sans-serif; */
        font-family: Snell Roundhand, cursive;
        text-align: center;
      

   
}
tr {
    cursor: pointer;
}

.im{
    background-image: url('../Image/food.jpg');
    background-size: contain;

    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#principal{
    padding-top: 1000px;
  
}
#div2{
    padding: 50px;
}

.search-area {
    padding: 50px;
    background: radial-gradient(#000, 40%, transparent 80%);
    border-radius: 10%;
}

.selected {
    border-width: 3px;
    border-color: green;
}
